body {
    font-family: "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5rem;
    min-height: 100vh;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -webkit-touch-callout: none;
    color: #3a352c;
    margin: 0 auto;
}
  
/* -------------------------------------------------------------------------- */
/*	 Header
/* -------------------------------------------------------------------------- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.logo_sub{
    display: none;
}

/* Header Navigation ------------------------- */
.nav_inner ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
    margin: 0 auto;
}
#nav_area nav li {
    margin-left: 20px;
    padding: 10px 0;
}
#nav_area nav .nav_inner ul li img{
    width: 200px;
}
#nav_area nav a {
    color: #3a352c;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
#nav_area nav .nav_contact_btn{
    background: linear-gradient(90deg, #ff0000, #ff9600, #ff6600);
    padding: 10px;
    text-align: center;
}
#nav_area nav .nav_contact_btn a{
    color: #fff;
}
.sp-navigation{
    display: none;
}

/* -------------------------------------------------------------------------- */
/*	 Main Visual
/* -------------------------------------------------------------------------- */
.mv_pc{
    display: block;
    width: 100vw;
}
.mv_sp{
    display: none;
}
.mv_section{
    position: relative;
}
.contact_btn_mv{
    text-decoration: none;
}
.contact_btn_mv{
    text-decoration: none;
    position: absolute;
    left: 14%;
    bottom: 8%;
}
.contact_btn_mv p{
    width: 350px;
    height: 60px;
    color: #fff;
    background: linear-gradient(90deg, #ff0000, #ff9600, #ff6600);
    box-shadow: 3px 3px 15px 0px rgba(119, 119, 119, 0.4);
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

/* -------------------------------------------------------------------------- */
/*	Page Common
/* -------------------------------------------------------------------------- */
section{
    padding-top: 120px;
}
h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 60px 0;
}
h2 img{
    width: 180px;
}
h3{
    font-size: 22px;
}
h4{
    font-size: 18px;
}
p{
    font-size: 16px;
}
.container{
    width: 1008px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
.text_bold{
    font-weight: bold;
}
.sp_br{
    display: none;
}
.br_sub{
    display: none;
}
.merit_sec h2, .step_sec h2, .requirements_sec h2{
    text-align: left;
}

/* -------------------------------------------------------------------------- */
/*	Create!Webフローとは
/* -------------------------------------------------------------------------- */
.about_sec p{
    text-align: center;
    line-height: 2.5rem;
}

/* -------------------------------------------------------------------------- */
/*	強みとメリット
/* -------------------------------------------------------------------------- */
.merit_sec{
    margin-bottom: 120px;
}
summary::-webkit-details-marker {
    display:none;
}
summary {
    list-style: none;
}
details[open] .label_text {
    animation: fadeIn 0.7s ease;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
/*アコーディオン全体のスタイル*/
.label{
    margin: 30px auto;
    border: solid 1px #e3d2b9;
    position: relative;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
}
/*タイトルのデザインとarrow*/
.label_title{
    border: solid 1px #e3d2b9;
    background-color: #f8f4ec;
}
/*開いているときに適用するスタイル*/
.label[open] .label_title {
    background-image: url(images/arrow_up.png);
}

.label .label_title{
    display: flex;
    background-image: url(images/arrow_down.png);
    background-repeat: no-repeat;
    background-position: right 24px center;
    background-size: 28px;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 0 10px 70px;
}


/*開いときの中身のテキスト*/
.label_inner{
    width: 80%;
    margin: 30px auto;
}
.label_text {
    padding-left: 20px;
}

/* -------------------------------------------------------------------------- */
/*	機能
/* -------------------------------------------------------------------------- */
.functions_sec{
    padding-top: 60px;
}
.functions_section_inner{
    padding: 60px 0;
    background-color: #f8f4ec;
}
.functions_inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.functions_box{
    background-color: #fff;
    width: 40%;
    margin: 20px 0;
    padding: 10px 40px;
    box-shadow:  0 0 10px rgba(227, 202, 161, 0.2);
    position: relative;
}
.functions_box p{
    line-height: 2rem;
}
.functions_box::after{
    display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	border-left: 30px solid transparent;
	border-bottom: 30px solid #ff6600; 
	content: "";
}
.functions_title{
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/*	動画
/* -------------------------------------------------------------------------- */
.videos_contents{
    display: flex;
    justify-content: space-around;
}
.videos_content{
    width: 400px;
}
.videos_contents iframe{
    width: 400px;
    height: 225px;
}
.video_title{
    font-size: 20px;
    line-height: 2rem;
}

/* -------------------------------------------------------------------------- */
/*	導入準備
/* -------------------------------------------------------------------------- */
.step_title{
    display: flex;
    align-items: center;
}
.step_title p, .step_title span{
    color: #ff6600;
}
.step_title span{
    font-size: 45px;
    padding: 0 20px 0 10px;
}
.step_inner{
    border-left: solid 1px #e3d2b9;
    padding-left: 40px;
    margin-left: 30px;
}
.step_arrow_down{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #e3d2b9;
    margin: 50px auto;
}
.step_inner h4{
    margin: 45px 0 15px 0;
}
.step_inner p{
    padding-left: 20px;
}

/* -------------------------------------------------------------------------- */
/*	動作環境
/* -------------------------------------------------------------------------- */
.requirements_sec h3{
    padding-left: 10px;
    border-left: 5px solid #ff6600;
    margin: 60px 0 20px 0;
}
.requirements_sec p{
    padding-left: 20px;
    margin-bottom: 45px;
}
.table_container .requirements_table{
    width: 100%;
    border-collapse: collapse;
}
.table_left{
    background-color: #f8f4ec;
}
.requirements_table th, .requirements_table td{
    border: 1px solid #e3d2b9;
    border-spacing: 0;
    padding: 10px 20px;
}
.requirements_table th, .requirements_table .table_left{
    font-size: 18px;
}
.requirements_table td{
    font-size: 14px;
}
.requirements_table th span, .requirements_table td span{
    font-size: 12px;
}
.requirements_table .table_left_top{
    border: none;
    background-color: transparent;
}
.note{
    font-size: 12px;
}

/* -------------------------------------------------------------------------- */
/*	価格・お問い合わせ
/* -------------------------------------------------------------------------- */
.contact_sec{
    padding: 80px 0;
}
.price_btn, .contact_btn{
    text-decoration: none;
}
.price_btn p{
    color: #ff6600;
    border: 1px solid #ff6600;
    padding: 20px;
    text-align: center;
    box-shadow: 3px 3px 15px 0px rgba(119, 119, 119, 0.4);
    width: 80%;
    margin: 0 auto;
}
.contact_btn p{
    color: #fff;
    background: linear-gradient(90deg, #ff0000, #ff9600, #ff6600);
    padding: 20px;
    text-align: center;
    box-shadow: 3px 3px 15px 0px rgba(119, 119, 119, 0.4);
    width: 80%;
    margin: 60px auto;
}

/* -------------------------------------------------------------------------- */
/*	Footer
/* -------------------------------------------------------------------------- */
footer{
    background-color: #f8f4ec;
    padding-top: 60px;
}
.footer_inner{
    align-items: center;
    width: 90%;
    height: 180px;
    margin: 0 auto;
}
.logo_footer{
    width: 275px;
}
.footer_inner_list{
    display: flex;
    padding: 0;
}
.footer_inner_list li a{
    text-decoration: none;
    color: #3a352c;
    padding-right: 15px;
}
.copyright{
    text-align: center;
    font-size: 10px;
}


/* -------------------------------------------------------------------------- */
/*	 レスポンシブ
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 1008px){
    /* Header Navigation ------------------------- */
    .header{
        height: 60px;
    }
    .logo_sub{
        display: block;
        position: fixed;
        top: 10px;
        left: 5%;
    }
    .logo_sub img{
        width: 150px;
    }
    nav {
        display: block;
        width: 1%;
        height: 100vh;
        position: fixed;
        align-items: center;
        left: 0px;
        top: 0;
        background-color: #f5f5f5;
        color: #333;
        font-size: 1.3rem;
        max-width: 100%;
        z-index: 3;
        opacity: 0;
    }
    #nav_area nav .nav_inner ul{
        display: block;
        position: fixed;
        top: 120px;
        width: 30%;
    }
    nav .nav_inner ul{
        width: 0!important;
    }
    #nav_area nav .nav_inner ul li img{
        position: fixed;
        top: 50px;
        left: 40px;
        z-index: 4;
        width: 200px;
    }
    .open nav{
        left: 0;
        width: 80%;
        opacity: 1;
    }
    .open nav .nav_inner ul{
        width: 60%!important;
        top: 80px;
    }
    .nav_inner #nav_area nav ul{
        display: block;
        width: 80%;
        margin: 120px auto;
        font-size: 16px;
    }
    #nav_area nav ul li{
        padding: 15px;
        font-weight: bold;
    }
    .nav_trial_btn, .nav_contact_btn{
        margin: 20px;
    }
    .toggle_btn{
        display: block;
        position: fixed;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        z-index: 3;
        cursor: pointer;
    }
    .toggle_btn span{
        position: absolute;
        display: block;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #333;
        transition: all 0.5s;
    }
    .toggle_btn span:nth-child(1){
        top: 4px;
    }
    .toggle_btn span:nth-child(2){
        top: 14px;
    }
    .toggle_btn span:nth-child(3){
        bottom: 4px;
    }
    .open .toggle_btn span:nth-child(1){
        transform: translateY(10px) rotate(-45deg);
    }
    .open .toggle_btn span:nth-child(2){
        opacity: 0;
    }
    .open .toggle_btn span:nth-child(3){
        transform: translateY(-10px) rotate(45deg);
    }
    #mask{
      display: none;
      transition: all 0.5s;
    }
    .open #mask{
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: fixed;
      opacity: 0;
      cursor: pointer;
    }
    /* Page Common ------------------------- */
    .container{
      width: 800px;
    }
    .contact_btn_mv{
        right: 10%;
    }
    /* 機能 ------------------------- */
    .functions_box{
        width: 35%;
    }
    /* 動画 ------------------------- */
    .videos_content{
        width: 300px;
    }
    .videos_contents iframe{
        width: 300px;
        height: 170px;
    }
}
@media screen and (max-width: 768px){
    /* Page Common ------------------------- */
    .container{
        width: 95%;
    }
    .br_sub{
        display: block;
    }
    /* 強みとメリット ------------------------- */
    .label_inner{
        width: 90%;
    }
    /* 導入準備 ------------------------- */
    .step_inner{
        padding-left: 20px;
        margin-left: 20px;
    }
    .step_inner h4{
        margin: 30px 0 15px 0;
    }
    /* Footer ------------------------- */
    .footer_inner{
        height: auto;
    }
    .footer_inner_list{
        display: block;
    }
}
@media screen and (max-width: 500px){
    /* Main Visual ------------------------- */
    .mv_pc{
        display: none;
    }
    .mv_sp{
        display: block;
        width: 100vw;
    }
    .contact_btn_mv{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 5;
    }
    .contact_btn_mv p{
        box-shadow: none;
        margin: 0;
        width: 100vw;
    }
    /* Page Common ------------------------- */
    body{
        margin-bottom: 60px;
    }
    section{
        padding-top: 50px;
    }
    h2{
        font-size: 18px;
        margin: 0 0 35px 0;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 15px;
    }
    p{
        font-size: 14px;
    }
    .br_sub{
        display: none;
    }
    .sp_br{
        display: block;
    }
    /* 強みとメリット ------------------------- */
    .merit_sec{
        margin-bottom: 0;
    }
    .label .label_title{
        padding: 10px 0 10px 10px;
        background-position: right 20px center;
    }
    details[open] .label_text{
        font-weight: lighter;
    }
    /* 機能 ------------------------- */
    .functions_box{
        width: 70%;
        margin: 10px auto;
    }
    /* 動画 ------------------------- */
    .videos_contents{
        display: block;
    }
    .videos_content{
        margin: 0 auto;
    }
    .video_title{
        font-size: 14px;
    }
    /* 導入準備 ------------------------- */
    .step_title span{
        font-size: 32px;
    }
    .step_inner {
        padding-left: 15px;
        margin-left: 5px;
    }
    .step_inner h4{
        margin: 25px 0 15px 0;
    }
    .step_inner p{
        font-weight: lighter;
        padding-left: 15px;
    }
    .step_arrow_down {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #e3d2b9;
        margin: 30px auto;
    }
    /* 動作環境 ------------------------- */
    .requirements_sec p{
        font-weight: lighter;
        margin-bottom: 20px;
    }
    .table_container .table{
        width: 100%;
        overflow-x: scroll;
    }
    .requirements_sec .container .table_container .requirements_table{
        width: 700px;
    }
    .requirements_table .table_left, .requirements_table tr th, .requirements_table tr td{
        font-size: 13px;
        padding: 5px 10px;
        vertical-align: initial;
    }
    .table_left_width .table_left{
        width: 30%;
    }
    .note{
        font-size: 10px;
    }
    /* 価格・お問い合わせ ------------------------- */
    .contact_sec{
        padding: 30px 0;
    }
    .price_btn p{
        font-size: 16px;
        padding: 10px;
    }
    .contact_btn p{
        font-size: 16px;
        margin: 30px auto;
        padding: 10px;
    }
    /* Footer ------------------------- */
    .footer_inner_list li a{
        font-size: 12px;
    }
    .logo_footer{
        width: 138px;
    }
}
